body{
	margin: 0;
	padding: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: url(images/fundo_main.jpg);	
}


.titulo{
	font-family: "Poppins Bold", sans-serif;
	font-size: 70px;
	color: #3fa9f5;
}

.area_resumo{
	width: 1000px;
	height: 300px;
}

.icon{
	margin-left: 30%;
	margin-top: 10%;
	float:left;
	width: 20%;
	height: 200px;
	background-image: url(images/icon_cruz.png);
	background-repeat: no-repeat;
}

.resumo{
	width: 50%;
	height: 50%;
	font-family: "Poppins", sans-serif;
	color: white;
	font-style: italic;
	font-size: 20px;
	float: right;
	margin-top: 10%;	
}

.retangulo{
	background-color: #3fa9f5;
	width: 100%;
	height: 7px;
}

.titulo_visao{
	font-family: "Poppins Light", sans-serif;
	font-size: 30px;
	color: #3fa9f5;
	margin-left: 10%;
	width: 100%;

}

.titulo_objetivo{
	font-family: "Poppins Light", sans-serif;
	font-size: 30px;
	color: #3fa9f5;
	margin-left: 10%;
	margin-top: 3%;
	width: 100%;
}

.visao p{
	font-family: "Poppins", sans-serif;
	font-size: 15px;
	color: white;
	margin-left: 13%;
}

.objetivo p{
	font-family: "Poppins", sans-serif;
	font-size: 15px;
	color: white;
	margin-left: 13%;
}

.visao{
	width: 100%;
	height: 100px;
}

.objetivo{
	width: 100%;
	height: 200px;
	margin-bottom: 10%;
}

.retangulo2{
	background-color: #3E89E6;
	width: 100%;
	height: 9em;
	padding-top: 1em;
}

.equipe{
	font-family: "Poppins", sans-serif;
	color: white;
	text-align: center;
	font-size: 4.5em;
}

@import url("font-awesome.min.css");
@import url("http://fonts.googleapis.com/css?family=Raleway:100,200,300,500,600,700,800,900");

a{
	color: #d84780;
	text-decoration: none;
}

strong, b{
	font-weight: 700;
}

em, i{
	font-style: italic;
}

p, ul, ol, dl, table, blockquote{
	margin: 0 0 2em 0;
}

p{
	line-height: 2em;
}

h1, h2, h3, h4, h5, h6{
	margin: 0;
	padding: 0;
	color: inherit;
	font-family: 'Raleway', sans-serif;
	font-weight: 700;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
	color: inherit;
	text-decoration: none;
}

h2{
	font-size: 1.5em;
}

.image.fit{
	display: block;
}

.image.fit img{
	display: block;
	width: 100%;
}

.image.feature {
	display: block;
	margin: 0 0 2em 0;
}

.image.feature img {
	display: block;
	width: 100%;
}

.image.featured {
	position: static;
	display: block;
	margin: 0;
}

.image.featured img {
	display: block;
	width: 100%;
	border-radius: 100%;

}

input[type="submit"],
input[type="reset"],
input[type="button"],
.button{
	-moz-appearance: none;
	-webkit-appearance: none;
	-o-appearance: none;
	-ms-appearance: none;
	appearance: none;
	-moz-transition: background-color 0.35s ease-in-out;
	-webkit-transition: background-color 0.35s ease-in-out;
	-o-transition: background-color 0.35s ease-in-out;
	-ms-transition: background-color 0.35s ease-in-out;
	transition: background-color 0.35s ease-in-out;
	background: #51aeff;
	border-radius: 6px;
	border: 0;
	color: white;
	cursor: pointer;
	display: inline-block;
	padding: 0.75em 1.5em;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	font-size: 1.2em;
	font-weight: 600;
	color: white; !important;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:hover {
	color: #51aeff;
	background: white;	
}

input[type="submit"].alt,
input[type="reset"].alt,
input[type="button"].alt,
.button.alt {
	border: 1px solid #FFF;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
.button.fit {
	width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
.button.small{
	font-size: 0.8em;
}

input[type="submit"].medium,
input[type="reset"].medium,
input[type="button"].medium,
.button.medium {
	padding: 0.80em 2em;
	font-size: 1.6em;
}

.wrapper.style1{
	padding-top: 5em;
	padding-bottom: 2em;
	background: url(images/bg.jpg) no-repeat center top;
	background-size: cover;
	background-attachment: fixed;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0);
}

.wrapper.style2{
	padding: 6em 0;
	background: #d84780;
	color: white;
}

#page{
	position: relative;
	background: #FFF;
	padding: 6em 4em 6em 4em;
	border-radius: 6px;
}

.box{
	color: white;
	padding: 3em 2em;
	background-image: linear-gradient( white,#51aeff);
	text-align: center;
	border-radius: 6px 6px 6px 6px;
}

